ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-color: purple;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover {
  border-color: purple;
}
#leftside{
  float: left;
}
#active{
  background-color: purple;
  color: white;
}
